.characterCard {
  border: black 1px solid;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  text-align: center;
  height: 200px;
  width: 170px;
  border-radius: 15px;
}

.characterPicture {
  border: green;
  height: 150px;
  width: 150px;
  border-radius: 15px;
}

.characterNameTitle {
  margin: 0;
}

.characterLoadMore {
  justify-self: center;
}
