.characterList {
  display:flex;
  flex-wrap: wrap;

}

.characterCard {
  border: black 1px solid;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  text-align: center;
  height: auto;
  width: 170px;
  border-radius: 15px;
  margin: 10px
}

.characterPicture {
  border: green;

  width: 100%;
  border-radius: 15px;
}

.characterNameTitle {
  margin: 10px 0;
  font-size: 15px

}

.characterLoadMore {
  padding: 5px;
margin: 0 auto;
}
