body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Navigation {
  background-color: red;
  width: 100vw;
  display: flex;
  padding: 0 10px;
}

.logoImage {
  width: 80px;
}

.homeImage {
  width: 90vw;
  margin: 0 auto;
}

.header {
  grid-column: width;
  grid-row: header;
}
.main {
  grid-column: width;
  grid-row: main;
}

.charactersPage {
  display:flex;
    flex-wrap: wrap;

}

.footer {
  grid-column: width;
  grid-row: footer;
  font-size: 14px;
}

