.singleCard {
  border: black 1px solid;
  padding: 10px;
  align-items: center;
  text-align: center;
  width: 80vw;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 0px 13px 22px 7px rgba(0, 0, 0, 0.84);
}

.singleNameTitle {
  margin: 10px 0;
}

.singlePicture {
  border: green;
  border-radius: 15px;
  width: 50vw;
}

.capitaliseText {
  text-transform: capitalize;
}

.boxParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.boxChild {
  border-radius: 15px;
  border: black 1px solid;
  text-align: left;
  padding: 10px 20px;
  width: 80%;
  margin: 0;
}

.liParent {
  padding: 0;
  margin: 0;
}

.backButtonParent {
  position: relative;
}

.backButton {
  padding: 10px;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  background: #fdfdfd;
  font-size: 90%;
}

@media only screen and (max-width: 690px) {
  .backButton {
    padding: 10px;
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    margin: 0;
    border-radius: 50%;
    background: linear-gradient(145deg, #f0f0f0, #f15959);
  }
}
